<html>

<head>
    <title>Login Page</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/mainapp.css') }}" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <script type="text/javascript">
        jobsArr = [];
        locationArr = [];
        locationDict = [];
        jobDetailsDict = {};
    </script>
</head>

<body>

    <div class="container-fluid">

        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div><span class="nav-data">AngelList Demo App</span>
                </div>
            </nav>
        </div>
        <div id="searchResults" class="row"></div>
        <div class="container">

            <div class="row" style="">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="">
                        <h5> Search for jobs on relevant filters ! </h5>

                    </div>
                </div>
                <div class="col-md-4"></div>

            </div>

            <div class="row">
                <hr>
            </div>
            <div class="row">
                {% for job in allJobs%}
                <div class="jobsPageid" style="display:none;">
                    {{ job.0 }}
                </div>
                <div class="jobsPayload_{{ job.0 }}" style="display:none">
                    {{ job.1 }}
                </div>

                <script type="text/javascript">
                    jobsArr.push({
                        'pageid': '{{job.0}}'
                    });
                </script>

                {% endfor %}

            </div>

            <div class="row">

                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="jobSubFilters">
                        <div class="currentFilters">
                            <!--                            <span class="singleFilter">Name <span class="removeFilter">&nbsp;X</span> </span>-->
                        </div>
                        <div class="searchFilters" style="margin-top:20px;">
                            <span class="filterName" showDiv="locationsFilter">Location ▾</span>
                            <span class="filterName">Role ▾</span>
                            <span class="filterName">Job Type ▾</span>
                            <span class="filterName">Keywords ▾</span>

                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="filterHoverDiv" id="locationsFilter" style="display:none; position:absolute; z-index:10">
                        <div class="form-group">
                            <input type="text" class="form-control ui-autocomplete-input" searchFor="" searchParam="" name="contentSearch" id="contentSearch" placeholder="Search">
                        </div>

                        <div class="suggestedLocation">
                            Top Suggested Links
                            <ul type="none">
                                <li><a href="">India</a>
                                </li>
                                <li><a href="">USA</a>
                                </li>
                                <li><a href="">Pune</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
                <ul class="pagination pull-right">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <div class="mainFilter">
                        <div id="vertical-tabs-view" class="site-navigation">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#">All Jobs</a>
                                </li>
                                <li class=""><a href="#">Interested In you </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div id="allJobsDetail">
                        <!--
			            <div class="singleJob-row card">
			                <div class="job-title col-md-2">Vijay</div>
			                <div class="jobDate col-md-2"> vijay</div>
			                <div class="jobUrl col-md-3"> Vijay</div>
			                <div class="jobLocation col-md-5"> malhotra</div>
			                
			                <div class="else">vijay</div>
			            </div>
-->
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            jobsArr.forEach(function (obj, index) {

                className = '.jobsPayload_' + (index + 1)

                payloadJson = JSON.parse($(className).html());

                $.extend(obj, {
                    'payload': $(className).html()
                });

                return;
            });



            $(".filterName").hover(function () {
                    $(".filterHoverDiv").fadeOut();
                    $('#' + $(this).attr("showDiv")).fadeIn();
                },
                function () {
                    //$(".filterHoverDiv").fadeOut();
                });


            
            




            $("#contentSearch").autocomplete({
                source: locationArr,
                appendTo: "#searchResults"
            });
            $("#contentSearch").keypress(function (e) {

                if (e.which == 13) {

                    var template = '<span class="singleFilter"> <span class="filternm">' + $(this).val() + '</span><span ><a href="javascript:void(0);" onclick="removeFilter(this)" class="removeFilter">&nbsp;X</a></span> </span>';
                    $(".currentFilters").append(template);

                    //empty the current html
                    $('#allJobsDetail').html("");

                    $(".singleFilter").each(function (index, el) {
                        displayAllJobsByLocation(el.children[0].innerHTML);
                    });

                }

            });
            
            
            //app logic starts here
            
            displayAllJobsByPage(1);


        });



        var displayAllJobsByPage = function (pageid) {
            payloadJson = JSON.parse(jobsArr[pageid - 1].payload);

            payloadJson.jobs.forEach(function (jobObj, index) {
                var locationTag = '';
                tags = jobObj.tags;
                tags.forEach(function (tag, index) {
                    if (tag.tag_type == "LocationTag") {
                        locationTag = tag.name;
                        locationArr.push(tag.name);

                        var dict = {};
                        dict[tag.name] = jobObj.id
                        locationDict.push(dict);
                        jobDetailsDict[jobObj.id] = jobObj;
                    }
                });

                //console.log(index);

                buildTemplate(jobObj, locationTag)


            });
        };

        var displayAllJobsByLocation = function (location) {
            payloadJson = JSON.parse(jobsArr[0].payload);

            var jobsToshow = [];

            locationDict.forEach(function (dictObj, index) {
                //console.log(dictObj[location]);

                if (dictObj[location] && dictObj[location] !== 'undefined') {
                    jobsToshow.push(dictObj[location]);
                    displayAllJobsByJobId(dictObj[location], location);

                }
            });

        };

        var displayAllJobsByJobId = function (jobId, location) {

            console.log(jobDetailsDict[jobId]);
            buildTemplate(jobDetailsDict[jobId], location);
        }



        var buildTemplate = function (jobObj, locationTag) {

            var template = '<div class="singleJob-row card">' +
                '<div class="jobTitle col-md-3">' + jobObj.title + '</div>' +
                '<div class="jobStartupName col-md-2">' + jobObj.startup.name + '</div>' +
                '<div class="jobDate col-md-2"> ' + jobObj.created_at + '</div>' +
                '<div class="jobUrl col-md-3"> ' + jobObj.angellist_url + '</div>' +
                '<div class="jobLocation col-md-2"> ' + locationTag + '</div>' +
                '<div class="else">' + '.' + '</div>' +
                '</div>'
            $('#allJobsDetail').append(template);
        };


        var removeFilter = function (ev) {
            ev.parentElement.parentElement.parentElement.removeChild(ev.parentElement.parentElement);

            //empty the current html
            $('#allJobsDetail').html("");

            $(".singleFilter").each(function (index, el) {
                displayAllJobsByLocation(el.children[0].innerHTML);
            });
        };
    </script>

</body>

</html>

