<html>

<head>
	<title> Login Page </title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/mainapp.css') }}" rel="stylesheet" />
</head>

<body>

	<div class="container-fluid"> 
		<div class="row">
				<nav class="navbar navbar-inverse" role="navigation">
	  
				</nav>
		</div>
		<div class="container">
		
			<div class="row" style="margin-top: 15%;" >
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-layer">
						Authenticate yourself to the awesome !
				<button class="btn btn-angel">Connect to Angel List</button>
						
					</div>
				</div>
				<div class="col-md-4"></div>		
			</div>	
		</div>
	</div>
</body>
</html>